* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
/* .btn--small{

} */

/* NAV STYLE */

.nav {
  position: fixed;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  background-color: #2c3e50;
  /* margin-bottom: 50px; */
}
.nav__links {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-basis: 150px;
  height: 50px;
  transition: 0.3s;
}
.nav__link--active {
  background-color: rgb(59, 76, 93);
}
.nav__link:hover {
  background-color: #34495e;
}
.nav__link-item {
  font-size: 1.6rem;
  color: white;
}

/* END OF NAV */

/* HERO SECTION */
.hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.hero__info {
  text-align: center;
}
.hero__header {
  font-size: 2.4rem;
  margin: 20px 0;
}
.hero__subheader {
  font-size: 1.6rem;
  margin: w0px 0;
}
.hero__btn {
  padding: 8px;
  width: 200px;
  font-size: 2.4rem;
  color: white;
  background-color: #f1c40f;
  border: none;
  margin-top: 20px;
}
/* END OF HERO SECTION */

/* FEATURES SECTION */

.features__info {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #34495e;
}

.features__item {
  flex-basis: 30%;
  text-align: center;
}
.fa-solid {
  font-size: 6rem;
  margin-bottom: 10px;
}
.features__header,
.features__subheader {
  margin: 10px 0;
  font-size: 1.7rem;
}

/* END OF FEATURES SECTION */

/* ABOUT SECTION */

.about {
  background-color: #f1c40f;
  padding: 40px;
}
.about__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.about__info {
  width: 48%;
  color: white;
}
.about__header {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.about__text {
  font-size: 1.5rem;
}
.about__image {
  flex-basis: 48%;
  height: 250px;
}
.about__image--img {
  background-image: url(../img/team.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
END OF ABOUT SECTION */

/* TESTIMONIALS SECTION */
