* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
/* .btn--small{

} */

/* NAV STYLE */

.nav {
  position: fixed;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  background-color: #2c3e50;
  /* margin-bottom: 50px; */
}
.nav__links {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-basis: 150px;
  height: 50px;
  transition: 0.3s;
}
.nav__link--active {
  background-color: rgb(59, 76, 93);
}
.nav__link:hover {
  background-color: #34495e;
}
.nav__link-item {
  font-size: 1.6rem;
  color: white;
}

/* END OF NAV */

/* HERO SECTION */
.hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.hero__info {
  text-align: center;
}
.hero__header {
  font-size: 2.4rem;
  margin: 20px 0;
}
.hero__subheader {
  font-size: 1.6rem;
  margin: w0px 0;
}
.hero__btn {
  padding: 8px;
  width: 200px;
  font-size: 2.4rem;
  color: white;
  background-color: #f1c40f;
  border: none;
  margin-top: 20px;
}
/* END OF HERO SECTION */

/* FEATURES SECTION */

.features__info {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #34495e;
}

.features__item {
  flex-basis: 30%;
  text-align: center;
}
.fa-solid {
  font-size: 6rem;
  margin-bottom: 10px;
}
.features__header,
.features__subheader {
  margin: 10px 0;
  font-size: 1.7rem;
}

/* END OF FEATURES SECTION */

/* ABOUT SECTION */

.about {
  background-color: #f1c40f;
  padding: 40px;
}
.about__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.about__info {
  width: 48%;
  color: white;
}
.about__header {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.about__text {
  font-size: 1.5rem;
}
.about__image {
  flex-basis: 48%;
  height: 250px;
}
.about__image--img {
  background-image: url(../img/team.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
END OF ABOUT SECTION */

/* TESTIMONIALS SECTION */
.testimonials__container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px;
  color: #2c3e50;
  align-items: center;
}
.testimonials__arrow {
  flex-basis: 8%;
}
.fa-solid {
  font-size: 3rem;
}
.testimonials {
  flex-basis: 80%;
  text-align: center;
}
.testimonials__text {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
hr {
  margin: 2rem auto;
  width: 30%;
  min-width: 200px;
}

figure {
  margin: 50px auto;
}
.testimonials__avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 10px;
}

.testimonials__name {
  display: inline-block;
  font-size: 1.5rem;
}

/* END OF TESTIMONIALS */

/* CONTACT SECTION */

.contact {
  background-color: #2c3e50;
  color: white;
  padding: 30px;
}
.contact__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contact__info {
  flex-basis: 45%;
}
.contact__form {
  flex-basis: 45%;
  text-align: center;
}
.contact__header {
  font-size: 2.1rem;
  margin-bottom: 20px;
}
.contact__text {
  font-size: 1.6rem;
}
.contact__adress-line {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.contact__adress-line p,
.contact__adress-line .fa-solid {
  font-size: 1.9rem;
  margin: 0 5px;
}
.contact__rule {
  margin: 20px 0;
  text-align: left;
}
input,
textarea {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 0;
  color: white;
  font-size: 1.3rem;
}
input:focus,
textarea:focus {
  outline: none; /* Usuń domyślną obwódkę */
}
input::placeholder,
textarea::placeholder {
  color: white;
}
.contact__btn-submit {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 2rem;
  background-color: #2ecc71;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.contact__btn-submit:hover {
  background-color: #27ae60;
}
/* END OF CONTACT SECTION */

/* FOOTER SECTION */
